@import "variables.less";

@sidebar-width: 220px;

// Layout
#page {
	.clear-float();
}
#main {
	float: left;
	width: @page-width - @sidebar-width - 20px;
}
#sidebar {
	float: right;
	width: @sidebar-width;
}

// Common
.skydrive-live-view {
	display: block;
	width: 640px;
	height: 480px;
	margin: 0 auto;
}

// Sidebar
#sidebar > section {
	margin-bottom: 20px;

	&>h1 {
		background-color: @metro-background-darker;
		text-align: right;
		line-height: 1.6;
		padding: 0 8px;
		font-size: @font-size-normal;
	}
}

// Search
#search {
	position: relative;
}
#keywords {
	.border-box();
	width: 100%;
	height: 36px;
	padding: 6px;
	border: 1px solid @metro-background-darker;
}
#submit-search {
	.reset-appearance();
	width: 34px;
	height: 34px;
	border: 0;
	background: #fff;
	font-family: FontAwesome;
	font-size: 0;
	position: absolute;
	right: 1px;
	top: 1px;
	color: @metro-dark;
	&::before {
		content: "\f002";
		font-size: 30px;
		line-height: 40px;
	}
	&:hover {
		color: @metro-highlight;
	}
}

// Links
#feed {
	display: block;
	height: 106px;
	position: relative;
	background: @metro-dark url(../images/rss.png) center 16px no-repeat;
	text-indent: -5000px;
	overflow: hidden;

	&:hover {
		background-color: @metro-highlight;
		text-decoration: none;
	}

	&::after {
		content: attr(title);
		position: absolute;
		left: 10px;
		bottom: 4px;
		color: #fff;
		text-indent: 0;
	}
}

// Tag cloud
#tag-cloud {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		margin: 6px;
		margin-left: 0;
	}
}