@import "variables.less";

#title > h1 {
	font-size: @font-size-large;
	padding: @font-size-large / 3;
	font-weight: normal;
	border-bottom: 3px solid @metro;
}

#meta {
	text-align: right;
	font-size: @font-size-small;
	margin-top: 6px;
}

#time {
	display: inline-block;
	padding: 4px;
	vertical-align: top;
}

#tags {
	.clear-float();
	display: inline-block;
	margin: 0;
	padding: 0;

	li {
		.metro();

		float: right;
		padding: 4px 6px;
		margin: 0 4px;
	}
}

#comments {
	margin-top: 40px;

	&>h1 {
		font-size: @font-size-larger;
		border-bottom: 2px solid @metro;
		padding-bottom: .2ex;
		color: @metro-highlight;
		font-weight: bold;
	}

	&>ol {
		list-style: none;
		margin: 0;
		padding: 0;

		&>li {
			border-bottom: 1px solid @metro;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}

	article {
		margin: 20px 0;
	}
	
	@avatar-width: 32px;
	@left-padding: 50px;
	.meta {
		.clear-float();
	}
	.author-avatar {
		float: left;
		overflow: hidden;
		margin-right: @left-padding - @avatar-width;
	}
	.author-name {
		font-size: @font-size-larger;
	}
	.post-time {
		color: @metro-background-dark;
		padding-left: 1ex;
		font-size: @font-size-small;
	}
	.content {
		margin-left: @left-padding;
	}
}

#post-comment {
	background-color: @metro-background-darker;
	padding: 20px;

	h1 {
		font-size: @font-size-larger;
		color: @metro-highlight;
	}

	.form-row {
		margin-top: 5px;
	}
	.form-submit {
		margin-top: 10px;
	}

	input:not([type]), input[type="text"], textarea {
		width: 50%;
		padding: 5px;
	}
	textarea {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 140px;
		resize: none;
		overflow: auto;
	}
	input[type="submit"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: none;
		margin: 0;
		background-color: @metro-dark;
		color: #fff;
		padding: 8px 22px;

		&:hover {
			background-color: @metro-highlight;
		}
	}
}