@import "variables.less";

#title > h1 {
	font-size: @font-size-large;
	padding: @font-size-large / 3;
	font-weight: normal;
	border-bottom: 3px solid @metro;
}

#meta {
	text-align: right;
	font-size: @font-size-small;
	margin-top: 6px;
}

#time {
	display: inline-block;
	padding: 4px;
	vertical-align: top;
}

#tags {
	.clear-float();
	display: inline-block;
	margin: 0;
	padding: 0;

	li {
		.metro();

		float: right;
		padding: 4px 6px;
		margin: 0 4px;
	}
}

#comments {
	margin-top: 40px;

	h1 {
		font-size: @font-size-larger;
		border-bottom: 2px solid @metro;
		padding-bottom: .2ex;
		color: @metro-highlight;
		font-weight: bold;
	}

	&>ol {
		list-style: none;
		margin: 0;
		padding: 0;

		&>li {
			border-bottom: 1px solid @metro;
		}
	}

	article {
		margin: 20px 0;
	}
	
	@avatar-width: 32px;
	@left-padding: 50px;
	.meta {
		.clear-float();
	}
	.author-avatar {
		float: left;
		overflow: hidden;
		margin-right: @left-padding - @avatar-width;
	}
	.author-name {
		font-size: @font-size-larger;
	}
	.post-time {
		color: @metro-background-dark;
		padding-left: 1ex;
		font-size: @font-size-small;
	}
	.content {
		margin-left: @left-padding;
	}
}