@import "variables.less";

@font-face {
    font-family: 'FontAwesome';
    src: url(../images/fontawesome-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: @metro-background;
	min-width: 980px;
	width: 980px;
	margin: 0 auto;
}

// Normalize
body, input, textarea {
	font-family: @font-family;
	font-size: @font-size-normal;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
a {
	color: @link-color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
pre, code {
	font-family: @font-family;
	background-color: @metro-background-darker;
	max-height: 400px;
	overflow: auto;
}
pre {
	padding: 1ex 1em;
	border-left: 2px solid @metro;
}
code {
	padding: 0 .2em;
}
p {
	line-height: 1.5;
}

// Layout
body > header:first-of-type {
	margin-bottom: 30px;
}
.form {
	background-color: @metro-background-darker;
	padding: 20px;

	h1 {
		font-size: @font-size-larger;
		color: @metro-highlight;
	}

	.row {
		margin-top: 5px;
	}
	.submit {
		margin-top: 10px;
	}

	input:not([type]), input[type="text"], input[type="password"], textarea {
		width: 50%;
		padding: 5px;
	}
	textarea {
		.border-box();
		width: 100%;
		height: 140px;
		resize: none;
		overflow: auto;
	}
	input[type="submit"] {
		.reset-appearance();
		border: none;
		margin: 0;
		background-color: @metro-dark;
		color: #fff;
		padding: 8px 22px;

		&:hover {
			background-color: @metro-highlight;
		}
	}
}

// Navigation
#navigation  {
	margin-bottom: 40px;

	ul  {
		.clear-float();

		list-style: none;
		margin: 0;
		padding: 0;
	}

	li  {
		float: left;
		width: 100% / 4;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 1px;

		a  {
			display: block;
			font-size: @font-size-larger;
			line-height: 2.6;
			background-color: @metro-background-darker;
			color: @metro-background-dark;
			text-align: center;

			&:hover  {
				background-color: @metro-highlight;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}