@font-face {
  font-family: 'FontAwesome';
  src: url(../images/fontawesome-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #232323;
  min-width: 980px;
  width: 980px;
  padding: 0 10px 10px;
  margin: 0 auto;
  color: #cccccc;
}
body,
input,
textarea {
  font-family: "Consolas", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", monospace;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
  color: #1b859a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre,
code {
  font-family: "Consolas", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", monospace;
  background-color: #323232;
  max-height: 400px;
  overflow: auto;
}
pre {
  padding: 1ex 1em;
  border-left: 2px solid #006fb0;
}
code {
  padding: 0 .2em;
}
p {
  line-height: 1.5;
}
img {
  max-width: 100%;
}
body > header:first-of-type {
  margin-bottom: 10px;
}
body > header:first-of-type h1 {
  font-size: 4em;
  display: inline-block;
}
body > header:first-of-type h2 {
  font-size: 2em;
  display: inline-block;
}
body > header:first-of-type h2::before {
  content: "â—";
  padding: 0 .3em;
}
body > header:first-of-type h3 {
  font-size: 1em;
}
.form {
  background-color: #323232;
  padding: 20px;
}
.form h1 {
  font-size: 24px;
  color: #1ba1e2;
}
.form .row {
  margin-top: 5px;
}
.form .submit {
  margin-top: 10px;
}
.form input:not([type]),
.form input[type="text"],
.form input[type="password"],
.form textarea {
  width: 50%;
  padding: 5px;
}
.form textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  resize: none;
  overflow: auto;
}
.form input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #034888;
  color: #fff;
  border: none;
  margin: 0;
  padding: 8px 22px;
}
.form input[type="submit"]:hover {
  background-color: #1ba1e2;
  color: #fff;
}
#navigation {
  margin-bottom: 40px;
}
#navigation ul {
  *zoom: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}
#navigation ul:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}
#navigation li {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 0 1px;
}
#navigation li a {
  display: block;
  font-size: 24px;
  line-height: 2.6;
  background-color: #323232;
  color: #f0f0f0;
  text-align: center;
}
#navigation li a:hover {
  background-color: #1ba1e2;
  color: #fff;
  text-decoration: none;
}
#footer {
  *zoom: 1;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #006fb0;
}
#footer:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}
#copyright {
  float: left;
  font-weight: normal;
  position: relative;
}
#copyright > blockquote {
  position: absolute;
  bottom: 1.4em;
  left: 0;
  background-color: #323232;
  z-index: 999;
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
}
#copyright > blockquote p {
  margin: .5em;
}
#copyright:hover > blockquote {
  width: 490px;
  height: auto;
  padding: .5em;
  border: 1px solid #006fb0;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#profileLinks > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  *zoom: 1;
  float: right;
}
#profileLinks > ul:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
}
#profileLinks > ul li {
  float: left;
  padding: 0 1em;
  border-right: 1px solid #006fb0;
}
#profileLinks > ul li:last-of-type {
  border-right: none;
}
