body {
  font-family: "Consolas", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", monospace;
  background-color: #f4f4f4;
  min-width: 980px;
  width: 980px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
  color: #00749e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  padding: 1ex 1em;
  border-left: 2px solid #91d100;
  background-color: #dedede;
}
pre,
code {
  font-family: "Consolas", "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", monospace;
}
p {
  text-indent: 2em;
  line-height: 1.5;
}
body > header:first-of-type {
  margin-bottom: 30px;
}
