@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Comment>
@section Resource {
    <link rel="stylesheet" href="@Url.Content("~/styles/console.css")" />
}

<ol id="comments">
    @foreach (Comment comment in Model) {
        @Html.Partial("Comment", comment)
    }
</ol>

<footer id="pager">
    @if (ViewBag.HasPreviousPage) {
        <a href="@Url.Content("~/console/comments/" + (ViewBag.PageIndex - 1))">上一页</a>
    }
    @if (ViewBag.HasNextPage) {
        <a href="@Url.Content("~/console/comments/" + (ViewBag.PageIndex + 1))">下一页</a>        
    }
</footer>
<script>
    $('#comments').on(
        'click',
        '.actions > span',
        function() {
            var target = $(this);
            var article = target.closest('article');
            var action = target.data('action');
            var id = article.attr('id').split('-')[1];
            
            $.post(
                '/console/comments/' + id + '/audit/',
                { audited: action === 'accept' },
                function(audited) {
                    debugger;
                    if (audited == null) {
                        return;
                    }

                    article.attr('data-status', audited ? 'accepted' : 'rejected');
                }
            );
        }
    );
</script>