@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FileInfo>

@section Resource {
    <link rel="stylesheet" href="@Url.Style("console")" />
}

<table id="posts">
    <thead>
        <tr>
            <th>名称</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>更新</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FileInfo file in Model) {
            <tr>
                <td>@Path.GetFileNameWithoutExtension(file.Name)</td>
                <td>@file.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@file.LastWriteTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td class="actions"><span>更新</span></td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('tbody').on(
        'click',
        'td:last-child',
        function() {
            var row = $(this).closest('tr');
                        
            if (row.hasClass('progressing')) {
                return;
            }

            row.addClass('progressing');
            var name = row.children('td:first').text();
            $.post(
                '/console/update/',
                { name: name },
                function() {
                    row.removeClass('progressing');
                }
            );
        }
    );
</script>