@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form">
    <h1>验证身份</h1>
    <form method="post" action="@Url.Content("~/console/login/")">
        <div class="row">
            <input type="password" name="password" placeholder="管理密码" autofocus="autofocus" required="required" maxlength="30" />
            @if (ViewBag.Fail != null) {
                <label for="content" class="validation-error">密码错误</label>
            }
        </div>
        <div class="submit">
            <input type="submit" value="登录" />
        </div>
    </form>
</div>
