<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>file://$(MSBuildProjectDirectory)/../../../../publish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Alice.Model.dll">
      <publishTime>11/21/2012 14:29:56</publishTime>
    </File>
    <File Include="bin/Alice.Web.dll">
      <publishTime>11/21/2012 14:29:57</publishTime>
    </File>
    <File Include="bin/MarkdownDeep.dll">
      <publishTime>11/20/2012 15:53:38</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/MySql.Data.dll">
      <publishTime>11/20/2012 14:48:26</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>11/20/2012 14:34:35</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>11/20/2012 14:34:17</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>11/20/2012 14:48:27</publishTime>
    </File>
    <File Include="Styles/Site.css">
      <publishTime>11/21/2012 12:35:18</publishTime>
    </File>
    <File Include="Views/Post/List.cshtml">
      <publishTime>11/21/2012 13:49:22</publishTime>
    </File>
    <File Include="Views/Post/ViewPost.cshtml">
      <publishTime>11/21/2012 12:35:18</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>11/20/2012 14:34:17</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>11/20/2012 14:40:22</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>11/20/2012 14:34:17</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>11/20/2012 14:34:17</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>11/21/2012 14:29:58</publishTime>
    </File>
  </ItemGroup>
</Project>