<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/scripts/jquery-1.8.2.js")" defer="defer"></script>
</head>

<body>
    <header>
        <hgroup>
            <h1>宅居 - <strong>裸</strong></h1>
            <h2>这货<del style="text-decoration: none;">懒得</del><ins style="font-size: 0;">不会</ins>写<abbr title="Cascading Style Sheet">CSS</abbr></h2>
        </hgroup>
    </header>
    @RenderBody()
</body>
</html>
